- if usuario_signed_in?
	%b
		%p(align="center")
			=link_to "Adicione um Conteúdo", new_artigo_path

- @artigos.each do |artigo|
	%blockquote
		%h2
			= link_to artigo.Título, artigo
	%blockquote
		%p 
			= truncate(artigo.Conteúdo, length: 100)
	%blockquote
		%p(align="right")
			Publicado em 
			= artigo.created_at.strftime('%d %b de %Y')


%br
%br
%br
%b
	%blockquote
		%p(align="left")
			=link_to "Sobre o Discipule", "sobre"



%img(src="http://imageshack.com/a/img905/5237/rFUJuH.png" align="left")