%img(src="http://imageshack.com/a/img908/2835/M5lwNo.png" align="center" height="100" widith="100")

%h1(align="center") 

= render 'form'

%br
%p(align="center")
.btn-group
	= link_to "Voltar", root_path, class: "btn btn-info"

%br
%br
%img(src="http://imageshack.com/a/img905/5237/rFUJuH.png" align="left")





