%img(src="http://imageshack.com/a/img908/2835/M5lwNo.png" align="center" height="100" widith="100")
%h1= @artigo.Título
%p= @artigo.Conteúdo

%blockquote
.btn-group
	= link_to "Editar", edit_artigo_path(@artigo), class: "btn btn-warning"
	= link_to "Deletar", artigo_path(@artigo), method: :delete, class: "btn btn-danger"	
	= link_to "Voltar", root_path, class: "btn btn-info"

%br
%br
%img(src="http://imageshack.com/a/img905/5237/rFUJuH.png" align="left")

