%img(src="http://imageshack.com/a/img908/2835/M5lwNo.png" align="center" height="100" widith="100")

%h1(align="center") Sobre

%p(align="center")
	Universidade de Brasília
	%br
	Faculdade UnB Gama
	%br
	Engenharia de Software
	%br
	Orientação a Objetos
	%br
	Professor: Renato Coral
	%br
	%br

	Projeto: Discipule - Cadastro de Conteúdos Online
	%br
	Alunos: Eduardo Gomes, Miguel Pimentel, Daniel Moura
	%br
	%br
	Criado em
	%br
	09 de Dezembro de 2015



%p(align="center")
	= link_to "Voltar", root_path
%br
%br
%img(src="http://imageshack.com/a/img905/5237/rFUJuH.png" align="left")





