!!!
%html
%head

	%title Discipule
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags #identacao aqui teve erro, resolvido com backspace ate true da linha anterior + enter

%body

	%nav.navbar.navbar-default-fixed-top	
	.container
		= link_to "Discipule", root_path, class: "navbar-brand"
	%p.notice= notice
	%p.alert= alert
	.container
		.row
			.col-md-8
				=yield 
				.col-md-4
				%ul.list-group
				- Categoria.all.each do |categoria|
					%li = link_to categoria.Nome, aritgos_path(categoria: categoria.Nome)
 	

	


